# générés par Latex
*.bbl
*.blg
*.fdb*
*.fls
*.ilg
*.ind
*.log
*.synctex*
*.pyc
*.sty
*.xdy
*.out
*.ist
*.bat
*.aux
*.mtc*
*.bcf
*.run.xml
*.toc
*.idx
*.maf
# généré par Sphinx
sphinx*
Make*
latex*
*.doctree
*.pickle
*.vscode
